<!doctype html>

<script type="text/javascript" src="freeze_table/tableFreezer.js"></script>

#set( $reportWarning = "Y" )

<style >   
	.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
		.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
		.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td,
		.table-condensed>tr>th, .table-condensed>tr>th, .table-condensed>tr>th,
		.table-condensed>tr>td, .table-condensed>tr>td, .table-condensed>tr>td{
			padding: 3px 4px;
	}
	
	.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, 
	.table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, 
	.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
		border: 1px solid #ddd;
	}

	td{
		max-width: none!important;
	}
	
	td, th {
		font-size: 11px;
		padding: 3px 4px;
	}

	.table tr th {
		text-align: center;
		background: #F0F0F0;
		padding: 3px 4px;
	}
	
	.freeze_header{
		border-collapse: separate !important;
	}
	
	.freeze_header thead tr th {
		padding:5px;
		color:/* #092E72; */#0a2f76;
		text-align:center;
		position: relative !important; 
		top: 0px;
		border:none;
		border-right:1px solid #ccc;
		border-left:1px solid #ccc;
		background-clip: padding-box;
	}
								
	th.freeze_left_column{
		position: relative !important; 
		top: 0px;
		z-index: 100;
		border:1px solid #ccc;
	}
							  
	td.freeze_left_column{
	    position: relative !important;
	    left: 0px;
	    background-color: white;
	    background-clip: padding-box;
	    border-top:1px solid #ccc;
	    border-right: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    border-left: 1px solid #ccc; 
	}
												
	.freeze_header tbody tr td,  .freeze_header thead tr th{
		border-left:none !important;
		border-bottom:none !important;
	}
				
	thead th.freeze_left_column{
		z-index: 899!important;
	}					
</style>


<script type="text/javascript">
    $(document).ready(function() {
		$("#outputTable").tableFreezer({					
			"freeze" : 'head_left_column',
			show_scroll_x : true,
			show_scroll_y : true,					
			scrollHeightRemove: 70
		});			
	});
</script>

<body>
<script type="text/javascript">

jQuery(function() {
    $('#toUser').show();
    $('#recipients').select2({
       minimumInputLength: 1,
       multiple: true, 
       width: "546px",      
       ajax: {
           url: 'getMessageRecipients.action',
           dataType: 'json',
           data: function(term, page) {
                return {
                    filter: term
                }
           },
           results: function(data, page) {
               return { results: data.matches }
           }
       }
    });
});

$(function() {
		$( document ).tooltip({
			track: true
		});
	});
</script>

<script>
	function getShareLink()
	{		
		$('#shareSubject').val('Vaccine Introduction Report');
		$('#orgUnitIds option').attr('selected', 'selected');
		var orgUnitIds = document.getElementById('orgUnitIds').options;
		var ids = '';
		for(var i=0;i <= orgUnitIds.length-1 ; i++)
		{	
			ids = ids+'&orgUnitIds='+orgUnitIds[i].value;
		}
		url = document.location.href +ids;
        $('#shareText').val('Link to view the report: \n \n' + url);
		$( "#shareLinkToUser" ).dialog('open');		
	}
</script>
 <style>
 	@media print {
  	@page { margin: 0; }
  		body { margin: 1.6cm; }
	}
		.ui-tooltip, .arrow1:after {
			background: white;
			border: 2px solid #086B96;
		}
		.ui-tooltip {
			padding: 10px 20px;
			color: black;
			border-radius: 20px;
			font: bold 12px "Helvetica Neue", Sans-Serif;			
			box-shadow: 0 0 7px black;
		}
		.arrow1 {
			width: 70px;
			height: 16px;
			overflow: hidden;
			position: absolute;
			left: 50%;
			margin-left: -35px;
			bottom: -16px;
		}
		.arrow1.top {
			top: -16px;
			bottom: auto;
		}
		.arrow1.left {
			left: 20%;
		}
		.arrow1:after {
			content: "";
			position: absolute;
			left: 20px;
			top: -20px;
			width: 25px;
			height: 25px;
			box-shadow: 6px 5px 9px -9px black;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			tranform: rotate(45deg);
		}
		.arrow1.top:after {
			bottom: -20px;
			top: auto;
		}
</style>
<select id="orgUnitIds" multiple style="display:none;">
    #foreach( $orgUnit in $orgUnitList )
		<option value="$orgUnit.id"></option>
    #end
</select>
<form id="form1" name="form1" action="campaignTrackerXl.action" method="post" onsubmit="return exportToExcel()" target="_newtab">
	<input type="hidden" name="htmlCode" id="htmlCode" />
	<input type="hidden" name="isoCode" value="$!campaignSnap.isoCode" />
	<input type="hidden" name="whoRegion" value="$!campaignSnap.whoRegion" />
	<input type="hidden" name="unicefRegion" value="$!campaignSnap.unicefRegion" />
	<input type="hidden" name="incomeLevel" value="$!campaignSnap.incomeLevel" />
	<input type="hidden" name="gaviEligibleStatus" value="$!campaignSnap.gaviEligibleStatus" />
	<input type="hidden" name="showComment" value="$!campaignSnap.showComment" />
	<select name="ouIds" multiple="multiple" style="display:none;">
		#foreach($ouId in $campaignSnap.ouIds)
			<option value="$ouId" selected>$ouId</option>
		#end
	</select>
	<select name="campaignIds" multiple="multiple" style="display:none;">
		#foreach($campaignId in $campaignSnap.campaignIds)
			<option value="$campaignId" selected>$campaignId</option>
		#end
	</select>
	<select name="selCols" multiple="multiple" style="display:none;">
		#foreach($selCol in $campaignSnap.selCols)
			<option value="$selCol" selected>$selCol</option>
		#end
	</select>
	
	
	<div align="right" style="width:95%;margin:auto;padding-top:8px;padding-bottom:3px;">
		<input type="button" onclick="location.href='campaignTrackerForm.action'" value="Change Selections"/>&nbsp;
		<input type="submit" value="Download As Excel"/>&nbsp;
		<input type="button" value="Print" onclick="javascript:printDiv('htmlContent')" />
		<input type="button" value="Share" onclick="javascript: getShareLink()"/>
	</div>
  

	<div id="htmlContent1" style="width:98%;margin:auto;" >   

		<div style="margin:auto; margin-top:-50px;" >        
	        <h2>Campaign Tracker - current as of $!campaignSnap.curDateStr</h2>
			<h3>Campaigns: 
				#foreach( $dataSetSection in $campaignSnap.dsSections )
					$dataSetSection.code &nbsp; 
				#end
			</h3>
		</div>
		<br/>
	
		<table align="center" id="outputTable" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed freeze_header">	
    		<thead>
	            <tr >					
	                #if( $campaignSnap.isoCode == "ON" ) <th style="min-width:30px; width:30px;" class="freeze_left_column">$i18n.getString( "iso_code" )</th>#end 
	                #if( $campaignSnap.whoRegion == "ON" ) <th style="min-width:50px; width:50px;" class="freeze_left_column">$i18n.getString( "who_region" )</th> #end
	              	#if( $campaignSnap.unicefRegion == "ON" )  <th style="min-width:50px; width:50px;" class="freeze_left_column">$i18n.getString( "unicef_region" )</th>#end
	                <th style="min-width:50px; width:50px;" class="freeze_left_column">$i18n.getString( "country" )</th>
	                #if( $campaignSnap.incomeLevel == "ON" )   <th class="freeze_left_column">$i18n.getString( "income_level" )</th>#end 
	              	#if( $campaignSnap.gaviEligibleStatus == "ON" )  <th class="freeze_left_column">$i18n.getString( "gavi_eligibility_status" )</th>#end 
	              	<th class="freeze_left_column">Campaign Vaccine</th>
	              	<th style="min-width:60px; width:60px;" class="freeze_left_column">Campaign Identifier</th>                    
	                #foreach( $colObj in $campaignSnap.colList )
						#set( $styleProp = "" )					
						#if( $!colObj.code == "COL_1" || $!colObj.code == "COL_2" || $!colObj.code == "COL_5" || $!colObj.code == "COL_6" ||
							 $!colObj.code == "COL_7" || $!colObj.code == "COL_8" || $!colObj.code == "COL_10" )
							#set( $styleProp = "style='min-width:60px; width:60px;'" )	
						#elseif( $!colObj.code == "COL_3" || $!colObj.code == "COL_9" || $!colObj.code == "COL_11" || $!colObj.code == "COL_12" )
							#set( $styleProp = "style='min-width:80px; width:80px;'" )
						#elseif( $!colObj.code == "COL_4" || $!colObj.code == "COL_13" )
							#set( $styleProp = "style='min-width:120px; width:120px;'" )							
						#else
							#set( $styleProp = "" )
						#end
	                    <th $styleProp>$!colObj.name</th>
	                #end
	            </tr>
        	</thead>
        	<tbody id="list">
                #foreach( $orgUnit in $campaignSnap.orgUnitList )
                	#foreach( $section in $campaignSnap.dsSections )
	                    #set( $key1 = "${orgUnit.id}_${section.code}")
	                    #set( $vaccineResultList = "" )
	                    #set( $vaccineResultList = $campaignSnap.ctDataMap.get( $key1 ) )
	                    ##if($campaignSnap.ctDataMap.get( $key1 ) && $campaignSnap.ctDataMap.get( $key1 ) != " ")
	                       	#foreach( $cvo in $vaccineResultList )
	                       		#set( $cMap = "")
	                       		#set( $cMap = $cvo.colDataMap )
			                    
					   			<tr width="100%">
	                        		#if( $campaignSnap.isoCode == "ON" ) <td class="freeze_left_column">$orgUnit.code</td> #end
	                        		#if( $campaignSnap.whoRegion == "ON" ) <td class="freeze_left_column">$!orgUnit.getParent().shortName</td> #end
	                        		#if( $campaignSnap.unicefRegion == "ON" ) <td class="freeze_left_column">$orgUnit.getGroupInGroupSet( $campaignSnap.unicefRegionsGroupSet ).getShortName()</td> #end
	                        		<td class="freeze_left_column" align="left">$!orgUnit.shortName</td>
	                        		#set( $headergetter = "" )
	                        		#set( $headergetter = "$orgUnit.id:3" )
	                        		#if( $campaignSnap.incomeLevel == "ON" )
	                        			#if('$campaignSnap.countryGeneralInfoMap.get($headergetter)' != 'null' )
	                            			<td class="freeze_left_column">$!campaignSnap.countryGeneralInfoMap.get($headergetter)</td>
	                        			#else   
	                            			<td class="freeze_left_column">&nbsp;</td>
	                        			#end
	                        		#end
	
		                            #set( $headergetter = "" )
		                            #set( $headergetter = "$orgUnit.id:4" )   
		                            #if( $gaviEligibleStatus == "ON" )                         
		                            	#if('$campaignSnap.countryGeneralInfoMap.get($headergetter)' != 'null' )
		                                	<td class="freeze_left_column">$!campaignSnap.countryGeneralInfoMap.get($headergetter)</td>   
		                            	#else
		                                	<td class="freeze_left_column">&nbsp;</td>
		                            	#end
		                            #end
	                        		#if( $!cMap.get( "COL_0" ).intVal1 == 1 )
	                        			<td class="freeze_left_column"><a href="loadSingleCoutryEntryForm.action?dataSetSectionId=$section.id&orgUnitUid=$orgUnit.uid">$!section.code</a></td>
	                        		#elseif	( $!cMap.get( "COL_0" ).intVal1 == 2 )
	                        			<td class="freeze_left_column"><a href="../dhis-web-event-capture/index.html">$!section.code</a></td>
	                        		#else
		                        		<td class="freeze_left_column">$!section.code</td>
	                        		#end
	                        		#set( $subNatName = " ")
	                        		#set( $subNatName = $!cMap.get( "COL_0" ).strVal1 )
	                        		#if( $subNatName == "NONE" )
	                        			#set( $subNatName = " ")
	                        		#end
		                            <td class="freeze_left_column">$subNatName</td>        
	                            	#foreach( $colObj in $campaignSnap.colList )
	                            		#set( $comment = "" )
	                            		#set( $comment = $!cMap.get( $!colObj.code ).strVal2 )
	                                	#set( $value = "" )
	                                	#set( $value = $!cMap.get( $!colObj.code ).strVal1 )
	                                	#if( $!colObj.code == "COL_3" && $value == "May postpone")
											#set( $value = "Might postpone" )
										#end
	                                	
	                                	#if( $!colObj.code == "COL_4")
											#if( !$!comment.trim().equals("") && $!comment.length() > 20 )
												<td align="left" title="$!comment">$!comment.substring(0,20)...</td>
											#else
												<td align="left">$!comment</td>
											#end                                		
	                                	#elseif( $!colObj.code == "COL_13" )
											#if( !$!value.trim().equals("") && $!value.length() > 20 )
												<td align="left" title="$!value">$!value.substring(0,20)...</td>
											#else
												<td align="left">$!value</td>
											#end									
										#elseif( $!colObj.code == "COL_3" )
	                                		<td align="left">$!value</td>
	                                	#else
	                                		<td align="left" #if(${comment} != '') style="color:green;" title="$!{comment}" #end>$!value</td>	
	                                	#end	
	                            	#end
	                    		</tr>
	                        #end
	                    ##end
                    #end
                #end
        	</tbody>
    	</table>
    	<br/><br/><br/>
	    <table style="margin:auto;display:none;color: #9F6000;background-color: #FEEFB3;border: 1px solid;" width="100%">
	    	<tr>
	        	<td colspan="5">$i18n.getString( "report_inline_security_warning" )</td>
	        </tr>
	    </table>
	</div>
	
	
	 <div id="htmlContent" style="width:98%;margin:auto;display:none;" >   

		<div style="margin:auto;" >        
			<h3>Campaign Tracker - current as of $!curDateStr</h3>
			<h4>Campaigns: 
				#foreach( $dataSetSection in $dataSetSections )
					$dataSetSection.code &nbsp; 
				#end
			</h3>
		</div>
		<br/>
	
	<table align="center" id="outputTable1" border="0" cellspacing="0" cellpadding="0">	
    	<thead>
                <tr >					
                    #if( $isoCode == "ON" ) <th style="min-width:30px; width:30px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">$i18n.getString( "iso_code" )</th>#end 
                    #if( $whoRegion == "ON" ) <th style="min-width:50px; width:50px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">$i18n.getString( "who_region" )</th> #end
                  	#if( $unicefRegion == "ON" )  <th style="min-width:50px; width:50px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">$i18n.getString( "unicef_region" )</th>#end
                    <th style="min-width:50px; width:50px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">$i18n.getString( "country" )</th>
                    #if( $incomeLevel == "ON" )   <th style="border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">$i18n.getString( "income_level" )</th>#end 
                  	#if( $gaviEligibleStatus == "ON" )  <th style="border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">$i18n.getString( "gavi_eligibility_status" )</th>#end 
                    <th style="border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">Campaign Vaccine</th>
                  	<th style="min-width:60px; width:60px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;">Campaign Identifier</th>
                    #foreach( $colObj in $colList )
						#set( $styleProp = "" )					
						#if( $!colObj.code == "COL_1" || $!colObj.code == "COL_2" || $!colObj.code == "COL_5" || $!colObj.code == "COL_6" ||
							 $!colObj.code == "COL_7" || $!colObj.code == "COL_8" || $!colObj.code == "COL_10" )
							#set( $styleProp = "style='min-width:60px; width:60px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;'" )	
						#elseif( $!colObj.code == "COL_3" || $!colObj.code == "COL_9" || $!colObj.code == "COL_11" || $!colObj.code == "COL_12" )
							#set( $styleProp = "style='min-width:80px; width:80px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;'" )
						#elseif( $!colObj.code == "COL_4" || $!colObj.code == "COL_13" )
							#set( $styleProp = "style='min-width:120px; width:120px;border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;'" )							
						#else
							#set( $styleProp = "style='border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;'" )
						#end
                        <th $styleProp>$!colObj.name</th>
                        #if( $showComment == "ON" && $!colObj.code != "COL_3" && $!colObj.code != "COL_4" && $!colObj.code != "COL_13" )
                        	<th style='border: 1px solid #ccc;vertical-align: middle;font-size: 11px;background: #F0F0F0;color:#0a2f76;'>$!colObj.name Comment</th>
                        #end
                    #end
                </tr>
            </thead>
            <tbody id="list">
                #foreach( $orgUnit in $orgUnitList )
                	#foreach( $section in $dataSetSections )
                    #set( $key1 = "${orgUnit.id}_${section.code}")
                    #set( $vaccineResultList = "" )
                    #set( $vaccineResultList = $dataMap.get( $key1 ) )
                    #if($dataMap.get( $key1 ) && $dataMap.get( $key1 ) != " ")
                       	#foreach( $cvo in $vaccineResultList )
                       		#set( $cMap = "")
                       		#set( $cMap = $cvo.colDataMap )
		                    #if( $mark )
		                    	#set( $mark = false )
		                    #else
		                    	#set( $mark = true )
		                    #end

				   			<tr width="100%" #if( $mark ) bgcolor="white" #else bgcolor = "white" #end>
                        		#if( $isoCode == "ON" ) <td style="border: 1px solid #ccc;vertical-align: middle;">$orgUnit.code</td> #end
                        		#if( $whoRegion == "ON" ) <td style="border: 1px solid #ccc;vertical-align: middle;">$!orgUnit.getParent().shortName</td> #end
                        		#if( $unicefRegion == "ON" ) <td style="border: 1px solid #ccc;vertical-align: middle;">$orgUnit.getGroupInGroupSet( $unicefRegionsGroupSet ).getShortName()</td> #end
                        		<td align="left" style="border: 1px solid #ccc;vertical-align: middle;">$!orgUnit.shortName</td>
                        		#set( $headergetter = "" )
                        		#set( $headergetter = "$orgUnit.id:3" )
                        		#if( $incomeLevel == "ON" )
                        			#if('$!countryGeneralInfoMap.get($headergetter)' != 'null' )
                            			<td style="border: 1px solid #ccc;vertical-align: middle;">$!countryGeneralInfoMap.get($headergetter)</td>
                        			#else   
                            			<td style="border: 1px solid #ccc;vertical-align: middle;">&nbsp;</td>
                        			#end
                        		#end

	                            #set( $headergetter = "" )
	                            #set( $headergetter = "$orgUnit.id:4" )   
	                            #if( $gaviEligibleStatus == "ON" )                         
	                            	#if('$!countryGeneralInfoMap.get($headergetter)' != 'null' )
	                                	<td style="border: 1px solid #ccc;vertical-align: middle;">$!countryGeneralInfoMap.get($headergetter)</td>   
	                            	#else
	                                	<td style="border: 1px solid #ccc;vertical-align: middle;">&nbsp;</td>
	                            	#end
	                            #end
                        
                        		<td style="border: 1px solid #ccc;vertical-align: middle;">$!section.code</td>
                        		#set( $subNatName = " ")
                        		#set( $subNatName = $!cMap.get( "COL_0" ).strVal1 )
                        		#if( $subNatName == "NONE" )
                        			#set( $subNatName = " ")
                        		#end
	                            <td style="border: 1px solid #ccc;vertical-align: middle;">$subNatName</td>        
                            	#foreach( $colObj in $colList )
                            		#set( $comment = "" )
                            		#set( $comment = $!$cMap.get( $!colObj.code ).strVal2 )
                                	#set( $value = "" )
                                	#set( $value = $!$cMap.get( $!colObj.code ).strVal1 )
                                	#if( $!colObj.code == "COL_3" && $value == "May postpone")
										#set( $value = "Might postpone" )
									#end
                                	
                                	#if( $!colObj.code == "COL_4")
										<td align="left" style="border: 1px solid #ccc;vertical-align: middle;">$!comment</td>
                                	#elseif( $!colObj.code == "COL_13" )
										<td align="left" style="border: 1px solid #ccc;vertical-align: middle;">$!value</td>
									#else
                                		<td align="left" style="border: 1px solid #ccc;vertical-align: middle;">$!value</td>
                                	#end
                                	#if( $showComment == "ON" && $!colObj.code != "COL_3" && $!colObj.code != "COL_4" && $!colObj.code != "COL_13" )
                        				<td style="border: 1px solid #ccc;vertical-align: middle;">$!comment</td>
                        			#end
                            	#end
                    		</tr>
                        #end
                    #end
                    #end
                #end
            </tbody>
        </table>
        <br/><br/><br/>
        <table style="margin:auto;display:none;color: #9F6000;background-color: #FEEFB3;border: 1px solid;" width="100%">
            <tr>
                <td colspan="5">$i18n.getString( "report_inline_security_warning" )</td>
            </tr>
        </table>
	</div>
</form>


<div id="shareLinkToUser" title="Share Link to User">
		<fieldset>
			<label for="toUser">$i18n.getString( "maintenance_users" )</label>
			<input type="hidden" name="recipients" id="recipients" class="text ui-widget-content ui-corner-all" placeholder="Enter User Name"/>
			<br/><br/>
			<label for="shareSubject">$i18n.getString( "feedback_subject" )</label>
			<input type="text" id="shareSubject" name="shareSubject" class="text ui-widget-content ui-corner-all" />
			<label for="shareText">$i18n.getString( "feedback_text" )</label>
			<textarea id="shareText" name="shareText" class="text ui-widget-content ui-corner-all" rows="6">				
			</textarea>
		</fieldset>
	</div>
	
<style>
	label, #toUser ,#shareText ,#shareSubject{ 
		display:block;
	}
		#recipients ,#shareText ,#shareSubject	{ 
		margin-bottom:12px;
		width:95%; 
		padding: .4em; 
	}	
	#shareLinkToUser fieldset	{ 
		padding:0;
		border:0;
		margin-top:25px;
	}
</style>
<script>
	var number = /^\d{2}$/;
	var monthNames = {};
	monthNames["Q1"] = "01";
	monthNames["Q2"] = "04";
	monthNames["Q3"] = "07";
	monthNames["Q4"] = "10";
	monthNames[number+""] = number+"";
	
	jQuery(function() {
	    var emailIds = 'null';
		$( "#shareLinkToUser" ).dialog({
				autoOpen: false,
				height: 420,
				width: 595,
				modal: true,
				show: "blind",
				hide: "explode",
				buttons: {
				"$i18n.getString( 'send' )":function() {					
					location.href = 'mailto:' + $('#recipients').val().replace(/[,]/g,';') +
                	'?subject=' + $('#shareSubject').val() +
                	'&body=' + escape(document.getElementById('shareText').value) ;
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {				
			}
		});
		
	
	jQuery.tablesorter.addParser({
    'id' : 'customDates',
    'is' : function(string) {
         return false;
         },
    'format' : function(string) {
        if (string == "") {
            return '';
        }
		string = string.replace("Q1","01");
		string = string.replace("Q2","04");
		string = string.replace("Q3","07");
		string = string.replace("Q4","10");
		
        var thedate = string.split('-');
		var date_month = thedate[1];
	
	if(date_month==undefined)
		{
			date_month="01";
		}
        var date_year = thedate[0];
        return date_year + date_month ;
	
    },
    'type' : 'numeric'
    });
		
	});
</script>
<script>

	
	$(document).ready(function()
	{
		//altRows('alternatecolor');
		
		$('table').tablesorter({
	
      		headers: {
         		5: { sorter: 'customDates' },
         		6: { sorter: 'customDates' },
         		9: { sorter: 'customDates' },
         		10: { sorter: 'customDates' }         		
      	}
   		});
   		
	});
	function sorting()
	{
		if($('.asc').css('display') == "block")
		{
			$('.asc').css('display', 'none');
			$('.desc').css('display', 'block');
			altRows('alternatecolor');			
		}
		else
		{
			$('.asc').css('display', 'block');
			$('.desc').css('display', 'none');
			altRows('alternatecolor');	
		}
	}
	
	function exportToExcel()
	{
		 var currentFlaggedImgPath = $('.flagedImg').find('img').attr('src');
		var currentUnFlaggedImgPath = $('.unFlagedImg').find('img').attr('src');
		
		var redFlag = $('#redFlag').val();
		var greyFlag = $('#greyFlag').val();
		
		
		$('.flagedImg').find('img').remove();
		$('.unFlagedImg').find('img').remove();
		
		$('.flagedImg').append('<font size=\"20\" color=\"red\">*</font>')
		$('.unFlagedImg').append('<font size=\"20\" color=\"#A4A4A4\">*</font>');
		
		document.getElementById('htmlCode').value = document.getElementById('htmlContent').innerHTML;
		
		$('.flagedImg').text('');
		$('.unFlagedImg').text('');	
		
		$('.flagedImg').append('<img src=\"'+currentFlaggedImgPath+'\" width=\"20\" height=\"20\" style=\"float:left;\" \>');
		$('.unFlagedImg').append('<img src=\"'+currentUnFlaggedImgPath+'\" width=\"20\" height=\"20\" style=\"float:left;\" \>');
        return true;
	}
	
	
	function printDiv( divID ) 
	{
		//Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML = "<html><head><title></title></head><body>" + divElements + "</body>";

       	//Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;     
		
		window.location.reload();	
	}
</script>