<script type="text/javascript">
    
    $(document).ready(function(){
        $('#myjquerymenu').find('#report').addClass("selected");
        pageName = 'AreaOfWorkReport';
    });

    function getOrgUnitId(orgUnits)
    { 
        $("#orgUnitId").val(orgUnits);      
    }

	/*
    function generateHTMLreport()
    { 
        document.countryFileForm.method = "post";
        document.countryFileForm.action = "mcv2IntroAndPieResult.action";
    }
    */
    
</script>

<br/>


<div style="font-size:16px; width:93%; margin:auto;" class="ui-widget-header ui-corner-all"><b>$i18n.getString( "ipv2_tracking" )</b></div>

<form id="countryFileForm" name="countryFileForm" method="get" action="ipv2TrackResult.action">

    <select id="selectedDataElementsValidator" name="selectedDataElementsValidator" multiple="multiple" style="display:none;"></select>
    <select id="values" name="values" multiple="multiple" style="display:none;"></select>     
    <select id="comments" name="comments" multiple="multiple" style="display:none;"></select> 
    <input type="hidden" name="orgUnitId" id="orgUnitId"/>
    
    <div id="reportFilterDiv" >
        <table style="width:90%;margin:auto;" cellpadding="4" cellspacing="2">
            <tr>
                <td width="55%">
                    <div id="orgUnitTreeContainer" style="height: 250px; width: 450px;">
						#organisationUnitSelectionTree1( false, true, true )
					</div>
                 </td>                 
                 <td width="45%">
                    <br/><br/><br/><br/>		 			
		 			<br/><br/>
		 			<input type="checkbox" name="isoCode" /> $i18n.getString( "iso_code" )<br/>
		 			<input type="checkbox" name="whoRegion" checked /> $i18n.getString( "who_region" )<br/>
		 			<input type="checkbox" name="unicefRegion" /> $i18n.getString( "unicef_region" )<br/>
		 			<input type="checkbox" name="incomeLevel" /> $i18n.getString( "income_level" )<br/>
		 			<input type="checkbox" name="gaviEligibleStatus" /> $i18n.getString( "gavi_eligibility_status" )<br/>
		 			<!-- <input type="checkbox" name="showComment" /> Include comments<br/> -->
                 </td>
            </tr>           
            <tr>
                <td>
                    <input type="submit" value="$i18n.getString( 'get_report' )" id="submit"/>               
                </td>
                <td>&nbsp;</td>
            </tr>
         </table>
    </div>
    <br/><br/>
</form>